html, body {
    overflow: hidden;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#renderCanvas {
    position: absolute;
    width   : 50%;
    height  : 100%;
    touch-action: none;
    right: 0;
}
#editor{
  width: 50%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
}
#console{
    height: 20%;
    width: 50%;
    position: absolute;
    left:0;
    bottom:0;
}
